<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Andrew Hoffman: software engineer, security researcher & technical author.">
    <meta property="og:title" content="Andrew Hoffman: software engineer, security researcher & technical author." />
    <meta property="og:image" content="{{ site.baseurl }}/assets/avatar.jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://andrewhoffman.me" />
    <meta property="og:type" content="website" />
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Andrew Hoffman",
      "url": "https://andrewhoffman.me",
      "sameAs": ["https://twitter.com/and1hof",
                 "https://www.youtube.com/and1hof"
                 "https://linkedin.com/in/and1hof"
                 ],
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.google.com/search?q=site%3Aandrewhoffman.me+{search_term}",
        "query-input": "required name=search_term"
        }
      }
    </script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">blog</a>
            <a href="{{ site.baseurl }}/consulting">consulting</a>
            <a href="https://amzn.to/4npIu6X" target="_blank">book</a>
            <a href="{{ site.baseurl }}/about">about</a>
          </nav>
        </header>
        <!-- <span class="tag">InfoSec</span> -->
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
